.sidePanelWrapper{
    width: 25%;
}
.hotDealsWrapper , .pricesWrapper, .brandWrapper{
    color: black;
    background-color: #F6F7F8;
    border-radius: 10px;
    padding: 28px 25px;
    text-align: left;
    margin-bottom: 24px;
    .hotDealsTitle, .pricesTitle, .brandTitle{
        font-family: Poppins;
        h2{
            font-weight: 500;
            font-size: 20px;
        }
    }
    .hotDealsList{
        font-family: Proxima Nova;
        .hotDealItem{
            cursor: pointer;
            display: flex;
            justify-content: space-between;
        }
    }
    .priceRange{
        font-family: Proxima Nova;
        display: flex;
        justify-content: space-between;
    }
    .priceSlider{
        div{
            div:nth-child(2){
                margin-top: -22px;
            }
        }
    }
}